.gameover {
  z-index: 1;
}

.gameOver {
  display: none;
}

.heading {
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.title {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  color: blue;
  font-weight: 800;
}
